@import './../../variable.scss';

$header-background-color: #ccccf9;
$footer-background-color: #123;

.header{
    height: 60px;
    padding: 10px 40px;
    display: flex;
    background: $header-background-color;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    justify-content: space-between;
    z-index: 10;
    .left-menu{
        display: flex;
        align-items: center;
        img{
            height: 40px;
        }
    }
    .menu{
        display: flex;
        align-items: center;
        .username{
            font-size: 16px;
            font-weight: bold;
        }
    }
}

.footer{
    height: 40px;
    padding: 10px 40px;
    display: flex;
    background: $footer-background-color;
    color: white;
    z-index: 10;
}

.side-bar{
    width: $side-bar-width;
    position: fixed;
    left: 0;
    top: 80px;
    height: calc( 100% - 80px);
    border-right: 1px solid gray;
    .side-bar-tab{
        height: 20px;
        padding: 20px;
        background: #e0dfdf;
        border-bottom: 1px solid #ababab;
        &:hover{
            background: #dadada;
        }
        &.active{
            background: #afacac;
        }
        p{
            font-size: 16px;
            margin: 0;
        }
    }
}

.side-bar-container{
    padding-left: $side-bar-width;
}