@import './../../variable.scss';

.missions{
    padding: 20px;
    .mission-list{
        width: calc( 100% - 40px );
        padding-bottom: 20px;
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax($mission-card-width, $mission-card-width) );
        grid-column-gap: 50px;
        grid-row-gap: 20px;
        justify-content: space-between;
    }
}

.mission-card{
    padding: 20px;
    width: $mission-card-width;
    border: 1px solid gray;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    .item{
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        p{
            margin: 0;
            font-weight: bold;
        }
    }
    .description{
        height: 80px;
        line-height: 20px;
        margin-top: 10px;
        // text-align: justify;
        overflow: hidden;
    }
}